<!-- extend from base layout -->
{% extends "base.html" %}


{% block header %}

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">OpenGrow</a>
  </div>
</div><!-- /.navbar -->

{% endblock %}

{% block content %}


<body>

  <div class="container">

    <form class="form-signin" role="form" action="" method="post" name="login">
      <img src="{{ url_for('static', filename='opengrow_login.png') }}">
      {{form.hidden_tag()}}
      {{form.password(size=30,placeholder="Password", class="form-control")}}
      <input type="submit" value="Sign in" class="btn btn-lg btn-primary btn-block">
    </form>

  </div> 
  <!-- Placed at the end of the document so the pages load faster -->
</body>


{% endblock %}